In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import statistics
import time
import quandl  #Used for data import
quandl.ApiConfig.api_key = 'vxSYNGB-9owcVsRx_SEF'
pd.set_option('display.max_colwidth', None)
import psycopg2

In [3]:
# Table 1: Zillow Indicators:
zillow_ind=quandl.get_table('ZILLOW/INDICATORS',paginate=True)
zillow_ind.head()

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values

In [4]:
# Table 2: Zillow Data:
zillow_data=quandl.get_table('ZILLOW/DATA', region_id='102001',paginate=True)
zillow_data.head()

     indicator_id region_id       date     value
None
0            ZSFH    102001 2021-04-30  280803.0
1            ZSFH    102001 2021-03-31  277043.0
2            ZSFH    102001 2021-02-28  273699.0
3            ZSFH    102001 2021-01-31  269769.0
4            ZSFH    102001 2020-12-31  265679.0

In [5]:
# Table 3: Zillow Regions:
zillow_regions=quandl.get_table('ZILLOW/REGIONS',paginate=True)
zillow_regions.head()

     region_id region_type                                           region
None
0        99999         zip   98847; WA; Wenatchee; Chelan County; Peshastin
1        99998         zip              98846; WA; Okanogan County; Pateros
2        99997         zip  98845; WA; Wenatchee; Douglas County; Palisades
3        99996         zip             98844; WA; Okanogan County; Oroville
4        99995         zip     98843; WA; Wenatchee; Douglas County; Orondo

####  Region table has data that does not follow database rules hence breaking down the region table in to multiple columns.

### Splitting region column:

In [6]:
# Assigning all the new columns to nulls and filtering data:
zillow_regions['zipcode'] = ''
zillow_regions['state'] = ''
zillow_regions['neigh'] = ''
zillow_regions['county'] = ''
zillow_regions['city'] = ''
zillow_regions['temp']=''

In [7]:
new_temp=zillow_regions['region'].str.split(';',n=4,expand=True)
sum=0
for i in range(len(zillow_regions)):
    for j in new_temp.iloc[i]:
        if j != None:
            sum=sum+1
    zillow_regions['temp'][i]= sum    
    sum=0

In [8]:
new=zillow_regions[zillow_regions['temp']==5]['region'].str.split(';',n=4,expand=True)
for i in range(5):
    for j in new.index:
        if str(new[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new[i][j]
        elif  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        elif str(new[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new[i][j]
        elif str(new[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new[i][j]
        elif str(new[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

In [9]:
new=zillow_regions[zillow_regions['temp']==4]['region'].str.split(';',n=4,expand=True)
for i in range(4):
    for j in new.index:
        if str(new[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new[i][j]
        elif  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        elif str(new[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new[i][j]
        elif str(new[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new[i][j]
        elif str(new[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

In [10]:
new=zillow_regions[zillow_regions['temp']==3]['region'].str.split(';',n=4,expand=True)
for i in range(3):
    for j in new.index:
        if str(new[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new[i][j]
        elif  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        elif str(new[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new[i][j]
        elif str(new[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new[i][j]
        elif str(new[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

In [11]:
new=zillow_regions[zillow_regions['temp']==2]['region'].str.split(';',n=4,expand=True)
for i in range(2):
    for j in new.index:
        if str(new[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new[i][j]
        elif  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        elif str(new[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new[i][j]
        elif str(new[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new[i][j]
        elif str(new[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

In [12]:
new=zillow_regions[zillow_regions['temp']==1]['region'].str.split(';',n=4,expand=True)
for i in range(1):
    for j in new.index:
        if str(new[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new[i][j]
        elif  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        elif str(new[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new[i][j]
        elif str(new[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new[i][j]
        elif str(new[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

In [13]:
new=zillow_regions[zillow_regions['region_type']=='metro']['region'].str.split(',',n=2,expand=True)
for i in range(1):
    for j in new.index:
        if  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

In [14]:
# All the information from region column is extracted and the dropped

zillow_regions.drop(['region','temp'],axis=1,inplace=True)

In [16]:
zillow_regions

,region_id,region_type,zipcode,state,neigh,county,city
None,,,,,,,
0,99999,zip,98847,WA,,Chelan County,Peshastin
1,99998,zip,98846,WA,,Okanogan County,Pateros
2,99997,zip,98845,WA,,Douglas County,Palisades
3,99996,zip,98844,WA,,Okanogan County,Oroville
4,99995,zip,98843,WA,,Douglas County,Orondo
...,...,...,...,...,...,...,...
79169,100000,zip,98848,WA,,Grant County,Quincy
79170,10000,city,,MD,,Garrett County,Bloomington
79171,1000,county,,GA,,Echols County,Valdosta
79172,100,county,,AL,Birmingham-Hoover,Bibb County,
79173,10,state,,CO,,,Colorado

## Connecting to the postgress and creating zillow database:

### Creating  staging tables and database tables:

In [18]:
# Connecing to Postgress Database:


def create_tables():
    """ create tables in the PostgreSQL database"""
    
    commands = (
    """
    CREATE TABLE stg_zillow_ind(
    stg_indicator_id CHAR(5),
    stg_indicator VARCHAR(255),
    stg_category VARCHAR(255)
                                )
    """,
    """
    CREATE TABLE stg_zillow_region(
    stg_region_id INTEGER,
    stg_region_type VARCHAR(255),
    stg_zipcode CHAR(10),
    stg_state CHAR(5),
    stg_neigh VARCHAR(255),
    stg_county VARCHAR(255),
    stg_city VARCHAR(255)
                                  )
    """,
    """
    CREATE TABLE stg_zillow_data(
    stg_ind_id CHAR(5),
    stg_reg_id INTEGER,
    stg_date DATE,
    stg_value MONEY
                                )
    """,
    """
    CREATE TABLE category(
    category_id SERIAL PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL
                        )
    """,
    """ 
    CREATE TABLE zindicator(
    zind_id SERIAL PRIMARY KEY,
    indicator_name CHAR(5) NOT NULL,
    indicator VARCHAR(255) NOT NULL,
    category_id SERIAL REFERENCES category(category_id)
                        )
    """,
    """
    CREATE TABLE regtype(
    regtype_id SERIAL PRIMARY KEY,
    regtype_name VARCHAR(255) NOT NULL
                        )
    """,
    """
    CREATE TABLE region(
    region_id SERIAL PRIMARY KEY,
    region_num INTEGER,
    regtype_id SERIAL REFERENCES regtype(regtype_id),
    neigh VARCHAR(255),
    city VARCHAR(255),
    county VARCHAR(255),
    state CHAR(5),
    zip CHAR(10)
                           )
    """,
    """
    CREATE TABLE zdata(
    zdata SERIAL PRIMARY KEY,
    zregion_id SERIAL REFERENCES region(region_id),
    zind_id SERIAL REFERENCES zindicator(zind_id),
    zdate DATE,
    zvalue MONEY
                      )
    """)

    conn = None

    
    try:
    
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cusor")

       
        for command in commands:
            cur.execute(command)
        print("Tables Created")
        
        cur.close()
        print("Connection Closed")
        
        conn.commit()
        print("Tables Saved/Commited")

    except:
        print("Error Loading")

    
if __name__ == '__main__':
    create_tables()

Database opened successfully
cusor
Tables Created
Connection Closed
Tables Saved/Commited

### Loading data for staging tables:

In [19]:
import io
from sqlalchemy import create_engine

In [20]:
# Loading Zillow Indicators table:

engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_ind.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_ind', null="")
conn.commit()
print("stg_zillow_ind data loaded")
cur.close()
print("Connection Closed")

stg_zillow_ind data loaded
Connection Closed

In [21]:
# Loading Zillow Regions table:

engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_regions.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_region', null="")
conn.commit()
print("stg_zillow_region data loaded")
cur.close()
print("Connection Closed")

stg_zillow_region data loaded
Connection Closed

In [22]:
# Loading Zillow Data Column:

engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_data', null="")
conn.commit()
print("stg_zillow_data data loaded")
cur.close()
print("Connection Closed")

stg_zillow_data data loaded
Connection Closed

### Loading data in to database table:

### Inserting data in to categories Table:

In [23]:
print("Gathering input values")
        
cur = conn.cursor()
print("cusor1")

cur.execute("SELECT distinct(stg_category) FROM stg_zillow_ind;")

print("The number of parts: ", cur.rowcount)

cat_records = cur.fetchall()
print(cat_records)

def insert_category(cat_records):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO category(category_name) VALUES(%s)"
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor")
           
        cur1.executemany(sql,cat_records)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
    
    insert_category(cat_records)

Gathering input values
cusor1
The number of parts:  3
[('Inventory and sales',), ('Rentals',), ('Home values',)]
Database opened successfully
cusor
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to zindicator table:

In [24]:
def insert_zindicator(rows):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO zindicator(indicator_name,indicator,category_id) VALUES(%s,%s,%s)"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,rows)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_ind.stg_indicator_id,stg_zillow_ind.stg_indicator, category.category_id from stg_zillow_ind inner join category on stg_zillow_ind.stg_category = category.category_name;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        cur.close()
        insert_zindicator(rows)

Database opened successfully
The number of parts:  56
Database opened successfully
cusor1
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to regtype table:

In [25]:
print("Gathering input values for regtype table")
        
cur = conn.cursor()
print("cusor")

cur.execute("SELECT distinct(stg_region_type) FROM stg_zillow_region;")

print("The number of parts: ", cur.rowcount)

reg_records = cur.fetchall()
print(reg_records)

def insert_regtype(reg_records):
    """ inserting data """
    conn = None
    sql= "INSERT INTO regtype(regtype_name) VALUES(%s)"
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor")
           
        cur1.executemany(sql,reg_records)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
    
    insert_regtype(reg_records)

Gathering input values for regtype table
cusor
The number of parts:  6
[('zip',), ('city',), ('metro',), ('county',), ('state',), ('neigh',)]
Database opened successfully
cusor
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to region table:

In [29]:

def insert_region(reg):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO region(region_num,regtype_id,neigh,city,county,state,zip) VALUES(%s,%s,%s,%s,%s,%s,%s)"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,reg)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_region.stg_region_id,regtype.regtype_id,stg_zillow_region.stg_neigh,stg_zillow_region.stg_city,stg_zillow_region.stg_county,stg_zillow_region.stg_state,stg_zillow_region.stg_zipcode from stg_zillow_region inner join regtype on regtype.regtype_name = stg_zillow_region.stg_region_type;;")
        reg = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        cur.close()
        insert_region(reg)

Database opened successfully
The number of parts:  79174
Database opened successfully
cusor1
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to zdata table:

In [30]:
def insert_zdata(rows):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO zdata(zdate,zvalue,zind_id,zregion_id) VALUES(%s,%s,%s,%s);"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,rows)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_date,stg_value, zindicator.zind_id,region.region_id from stg_zillow_data inner join zindicator on zindicator.indicator_name = stg_zillow_data.stg_ind_id inner join region on region.region_num = stg_zillow_data.stg_reg_id;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        cur.close()
        insert_zdata(rows)

Database opened successfully
The number of parts:  22964
Database opened successfully
cusor1
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Query 1:

#### Dispaly all indicators for category is "Inventory and Sales"

In [31]:
def query1():
    conn = None
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cusor")
    
        cur.execute("select c.category_id,c.category_name, i.zind_id, i.indicator_name from category as c  inner join zindicator as i on c.category_id=i.category_id where category_name='Inventory and sales';")
        
        print("1")
        conn.commit()
        print("Tables Saved/Commited")
        
        print("The number of parts: ", cur.rowcount)
        
        
        cat_records = cur.fetchall()
        
        
        for row in cat_records:
            print("zind_id = ", row[2], )
            print("indicator = ", row[3])
            print("category_name =",row[1])
            print("category_id =",row[0])


        cur.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

if __name__ == '__main__':
    query1()

Database opened successfully
cusor
1
Tables Saved/Commited
The number of parts:  44
zind_id =  1
indicator =  CRAM
category_name = Inventory and sales
category_id = 1
zind_id =  2
indicator =  CRAW
category_name = Inventory and sales
category_id = 1
zind_id =  3
indicator =  CRSM
category_name = Inventory and sales
category_id = 1
zind_id =  4
indicator =  CRSW
category_name = Inventory and sales
category_id = 1
zind_id =  5
indicator =  CSAM
category_name = Inventory and sales
category_id = 1
zind_id =  6
indicator =  CSAW
category_name = Inventory and sales
category_id = 1
zind_id =  7
indicator =  CSSM
category_name = Inventory and sales
category_id = 1
zind_id =  8
indicator =  CSSW
category_name = Inventory and sales
category_id = 1
zind_id =  9
indicator =  IRAM
category_name = Inventory and sales
category_id = 1
zind_id =  10
indicator =  IRAW
category_name = Inventory and sales
category_id = 1
zind_id =  11
indicator =  IRSM
category_name = Inventory and sales
category_id = 1
zind_id =  12
indicator =  IRSW
category_name = Inventory and sales
category_id = 1
zind_id =  13
indicator =  ISAM
category_name = Inventory and sales
category_id = 1
zind_id =  14
indicator =  ISAW
category_name = Inventory and sales
category_id = 1
zind_id =  15
indicator =  ISSM
category_name = Inventory and sales
category_id = 1
zind_id =  16
indicator =  ISSW
category_name = Inventory and sales
category_id = 1
zind_id =  17
indicator =  LRAM
category_name = Inventory and sales
category_id = 1
zind_id =  18
indicator =  LRAW
category_name = Inventory and sales
category_id = 1
zind_id =  19
indicator =  LRSM
category_name = Inventory and sales
category_id = 1
zind_id =  20
indicator =  LRSW
category_name = Inventory and sales
category_id = 1
zind_id =  21
indicator =  LSAM
category_name = Inventory and sales
category_id = 1
zind_id =  22
indicator =  LSAW
category_name = Inventory and sales
category_id = 1
zind_id =  23
indicator =  LSSM
category_name = Inventory and sales
category_id = 1
zind_id =  24
indicator =  LSSW
category_name = Inventory and sales
category_id = 1
zind_id =  25
indicator =  MRAM
category_name = Inventory and sales
category_id = 1
zind_id =  26
indicator =  MRAW
category_name = Inventory and sales
category_id = 1
zind_id =  27
indicator =  MSAM
category_name = Inventory and sales
category_id = 1
zind_id =  28
indicator =  MSAW
category_name = Inventory and sales
category_id = 1
zind_id =  29
indicator =  NRAM
category_name = Inventory and sales
category_id = 1
zind_id =  30
indicator =  NRAW
category_name = Inventory and sales
category_id = 1
zind_id =  31
indicator =  NSAM
category_name = Inventory and sales
category_id = 1
zind_id =  32
indicator =  NSAW
category_name = Inventory and sales
category_id = 1
zind_id =  33
indicator =  SAAM
category_name = Inventory and sales
category_id = 1
zind_id =  34
indicator =  SAAW
category_name = Inventory and sales
category_id = 1
zind_id =  35
indicator =  SASM
category_name = Inventory and sales
category_id = 1
zind_id =  36
indicator =  SASW
category_name = Inventory and sales
category_id = 1
zind_id =  37
indicator =  SRAM
category_name = Inventory and sales
category_id = 1
zind_id =  38
indicator =  SRAW
category_name = Inventory and sales
category_id = 1
zind_id =  39
indicator =  SRSM
category_name = Inventory and sales
category_id = 1
zind_id =  40
indicator =  SRSW
category_name = Inventory and sales
category_id = 1
zind_id =  41
indicator =  SSAM
category_name = Inventory and sales
category_id = 1
zind_id =  42
indicator =  SSAW
category_name = Inventory and sales
category_id = 1
zind_id =  43
indicator =  SSSM
category_name = Inventory and sales
category_id = 1
zind_id =  44
indicator =  SSSW
category_name = Inventory and sales
category_id = 1
Database Connetion Closed Sucessfully

#### Query 2: Display indicator and category information for indicator "ZSFH"

In [27]:
def query2():
    """ query data from the staging tables """
    conn = None
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cusor")
    
        cur.execute("select * from stg_zillow_ind where stg_indicator_id='ZSFH';")
        
        print("1")
        conn.commit()
        print("Tables Saved/Commited")
        
        print("The number of parts: ", cur.rowcount)
        
        
        cat_records = cur.fetchall()
        
        
        for row in cat_records:
            print("stg_indicator_id = ", row[0], )
            print("stg_indicator = ", row[1])
            print("stg_category =",row[2])

        cur.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

if __name__ == '__main__':
    query2()

Database opened successfully
cusor
1
Tables Saved/Commited
The number of parts:  1
stg_indicator_id =  ZSFH
stg_indicator =  ZHVI Single-Family Homes Time Series ($)
stg_category = Home values
Database Connetion Closed Sucessfully